.settings-panel {
    height: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 20px;
}

.settings-panel.open {
    transform: translateX(0);
}

.settings_hidden {
    opacity: 0;
    visibility: hidden !important;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.settings_visible {
    opacity: 1;
    visibility: visible !important;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#settings-content {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    background-color: greenyellow;
}